#scroller
{
  width: 60%;
  height: 100vh;
  background-color: #424242;
  display: flex;
  flex-direction: column;
  align-items: center;
  float: right;
}
#inputs
{
  width: 100%;
  display: flex; 
  flex-direction: column;
}
#inputs input[type="text"]
{
  border-radius: 2.5vh;
  border: none;
  height: 4.5vh;
  width: 80%;
  text-align: center;
  outline: none;
  margin-top: 1%;
  font-size: 2vh;
}
#inputs label {
  font-size: 2.5vh;
}
#inputs input[type="checkbox"]
{
  width: 1vw;
  height: 100%;
}
#playlist
{
  width: 100%;
  height: 80%;
  border-width: 0.5vh;
  border-style: solid;
  border-color: black;
  overflow-y: scroll;
  overflow-x: hidden;
}
.playlist-item
{
  width: 100%;
  height: 94px;
  display: flex;
}
.video-thumb
{
  width: 168px;
  height: 94px;
  cursor: pointer;
}
.video-title
{
  cursor: pointer;
  margin: 0 0 0 10px;
  overflow: hidden;
}
#player
{
  position: absolute;
  top: 0;
  left: 0;
  resize: both;
  border: 1px solid #d3d3d3;
}
body
{
  background-color: #424242;
  margin: 0px;
  overflow-x: hidden;
}
